body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
}

#select{
    margin-bottom: 20px;
}

#btn{
    margin: 20px;
}

#container{
    width: auto;
    display: flex;
    justify-content: center;
    padding: 10%;
    font-size: 30px;
    font-weight: bold;
}